.mint-instructions {
	max-width: calc(1024px - 7em);
	margin: 0 auto 2px auto;
	background: var(--bkgColorCallout);
	color: var(--bkgColor);
	padding: 1.5em 3.5em;
}

.mint-instructions p {
	margin-bottom: 2em;
	text-align: justify;
}

.mint-instructions button {
	background: var(--bkgColorHead);
	color: var(--txtColor);
}

.mint-instructions button svg {
	height: 1em;
    margin-left: 1em;
    margin-right: -0.5em;
    vertical-align: top;
}

.mint-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
	grid-gap: 2px;
	max-width: 1024px;
	margin: 0 auto;
}

.mint-gallery .mint-image{
	line-height: 0;
}

.mint-gallery .mint-image a{
	display: inline-block;
	line-height: 0;
}

.mint-gallery .mint-image img{
	width: 100%;
}

@media only screen and (max-width: 875px) {
	.mint-instructions {
		padding: 0.5em 1em;
	}

	.mint-instructions p {
		margin-bottom: 1em;
	}
}