.gallery-image{
    position: relative;
}

.gallery-image figure{
    position: relative;
    margin: 0;
    padding-bottom: 100%;
}

.gallery-image img{
    position: absolute;
    top: 0;
    left: 0;
}

.gallery-image figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
    margin: 1em 20% 0.5em 20%;
    padding: 0.5em 1em;
    background-color: var(--bkgColor);
    color: var(--txtColor);
    font-size: 0.6em;
    font-weight: bold;
    box-sizing: border-box;
    border: solid 1px var(--txtColor);
    border-radius: 5px;
    opacity: 0.9;
}